svg.railroad-diagram {
  background-color: hsl(30,20%,95%);
}
svg.railroad-diagram path {
  stroke-width: 3;
  stroke: black;
  fill: rgba(0,0,0,0);
}
svg.railroad-diagram text {
  font: bold 14px monospace;
  text-anchor: middle;
  cursor: pointer;
}
svg.railroad-diagram text.label {
  text-anchor: start;
}
svg.railroad-diagram text.comment {
  font: italic 12px monospace;
}
svg.railroad-diagram rect {
  stroke-width: 3;
  stroke: black;
  fill: hsl(120,100%,90%);
}

body {
  background-color: hsl(30,20%,95%);
}

input[type=text].form-control, textarea.form-control {
  background-color:  hsl(30,20%,98%);;
}

.load-examples {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.load-examples a {
  margin-left: 10px;
}

textarea.form-control.grammar-edit {
  height: 400px;
  margin-bottom: 20px;
  font-family: monospace;
}

.alert {
  word-wrap: break-word;
}
