body {
  background-color: hsl(30,20%,95%);
}

input[type=text].form-control, textarea.form-control {
  background-color:  hsl(30,20%,98%);;
}

.load-examples a {
  margin-right: 10px;
}

.section {
  margin-bottom: 10px;
}

textarea.form-control.grammar-edit {
  height: 200px;
  font-family: monospace;
}

.alert {
  word-wrap: break-word;
}
